@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}

* {
    font-family: "Roboto Condensed";
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background-color: black;

    position: relative;
}

#wrapper {
    height: inherit;
    padding: 3vh;
    border-radius: 3vh;

    background-color: rgb(204, 189, 219);
    transition-property: background-color;
    transition-duration: 500ms;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
}

header {
    display: flex;
    justify-content: space-between;

    font-size: 3vh;
}

#logo {
    background-image: url("../media/logo.png");
    background-size: contain;

    width: 40px;
    height: 40px;
}

.hidden {
    display: none;
}