@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}

* {
    font-family: "Roboto Condensed";
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    position: relative;
    background-color: black;
}

#wrapper {
    background-color: rgb(204, 189, 219);
    transition-property: background-color;
    transition-duration: 500ms;
    padding: 3vh;
    height: inherit;
    border-radius: 3vh;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 3vh;
}

#logo {
    background-image: url("../media/logo.png");
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}