.hidden {
    display: none;
}

main>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4vh;
}

main>div>h1 {
    font-weight: bold;
    font-size: 6vh;
}

main>div>.portal {
    font-size: 3vh;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

label {
    text-align: left;
    font-size: 3vh;
}

input {
    padding: 1vh 10px;
    font-size: 3vh;
}

#input_field {
    display: flex;
    flex-direction: column;
}

#input_field>input:first-of-type {
    margin-bottom: 10px;
}

button {
    padding: 2vh 0;
    margin-bottom: 25px;
    font-size: 3vh;
}