div.feedback.hidden {
    display: none;
}

.overlay {
    background-color: white;
    opacity: 0.4;
    padding: 5vh 0;
    font-size: 3vh;


    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

main>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2vh;
}

main>div>h1 {
    font-weight: bold;
    font-size: 6vh;
}

main>div>.portal {
    font-size: 3vh;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

label {
    text-align: left;
    font-size: 3vh;
}

input {
    padding: 1vh 10px;
    font-size: 3vh;
}

.input_field {
    display: flex;
    flex-direction: column;
}

.input_field>input:first-of-type {
    margin-bottom: 10px;
}

#prompt {
    margin-top: 20px;
}

#wrong {
    margin-top: 10px;
    padding: 5px 0;
    background-color: rgb(246, 235, 221);
}

button {
    padding: 2vh 0;
    margin-bottom: 20px;
    font-size: 3vh;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;

    background-color: white;
    padding: 5vh 0;
    border-radius: 3vh;
    font-size: 3vh;
    text-align: center;


    position: fixed;
    top: 50vh;
    bottom: 50vh;
    right: 5vw;
    left: 5vw;
    z-index: 1;
}

.feedback>button {
    width: 250px;
    font-size: 3vh;
}