section {
    width: 88vw;
    margin: auto auto;
}

section>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    background-color: white;
    padding: 0 10px;
    border-radius: 1vh;
    margin-top: 2vh;
}

section>nav>button {
    height: 30px;
    margin: 15px 0;
    padding: 0 5px;

    display: flex;
    align-items: center;
}

#quiz {
    margin-top: 20px;
}

img {
    border-radius: 4vh;
    width: 100%;
}

#alternatives {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5vh;
    margin-bottom: 4vh;
}

div.alternative {
    height: fit-content;
    background-color: white;
    padding: 1.5vh 0;
    text-align: center;
    border-radius: 5px;
    border: 2px solid grey;
}

div.alternative:hover {
    background-color: rgb(214, 212, 212);
}

.wrong_or_correct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    padding: 13vh 0;
    border-radius: 3vh;
    font-size: 3vh;
    text-align: center;


    position: fixed;
    top: 40vh;
    bottom: 60vh;
    right: 5vw;
    left: 5vw;
}

.wrong_or_correct>p {
    font-size: 5vh;
}

.wrong_or_correct>button {
    width: 250px;
    font-size: 3vh;
}